* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --sk_yellow:#FFDE59;
    --sk_gray:#545454;
    --transparent-black:rgba(0, 0, 0, .8);
    --sk_white:#fff;
    --sk_red:crimson;
    --sk_dark_gray:#333;
    --sk_darken_yello:#f8d030;
}
html {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}
.my_sections{
    position: relative;
    height: auto;
    width: 100%;
    padding: 5rem 15rem;
    background-color: #fff;
    font-size: 1.6rem;
}
header{
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: var(--sk_white);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.6rem;
    padding: 0rem 15rem;
}
.link_container{
    position: relative;
}
.link_container ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.link_container ul.active{
    display: flex;
}
.link_container ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    color: var(--sk_dark_gray);
    border-radius: .5rem;
    transition: all .1s ease-in-out;
}
.link_container ul li a:hover{
    background-color: var(--sk_yellow);
}
.header_main_text{
    position: relative;
    height: 100%;
    background-color: var(--transparent-black);
    background-image: url(/images/extraImages/img8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--sk_white);
    font-size: 2rem;
}
.humberger_menu{
    position: absolute;
    height: 2.3rem;
    width: 2.5rem;
    right: 5%;
    top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
}
.humberger_menu span{
    height: .4rem;
    background-color: var(--sk_dark_gray);
    padding: .1rem;
}
.header_main_text h1{
    font-size: 7rem;
    text-align: center;
}
.span_text{
    color: var(--sk_yellow);
}
.header_main_text_buttons{
    display: flex;
    gap: 1rem;
}
.buttons{
    padding: 1.5rem 3rem;
    background-color: var(--sk_yellow);
    border: var(--sk_yellow);
    border-radius: .5rem;
}
.buttons:hover{
    background-color: var(--sk_darken_yello);
    border: var(--sk_darken_yello);
    border-radius: .5rem;
}
.double_columns{
    position: relative;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 3rem 2rem;
    padding: 5rem;
}
.sk_underline{
    border-bottom: .5rem solid var(--sk_yellow);
}
.columns{
    position: relative;
    padding: 5rem;
    font-size: 2.3rem;
    color: var(--sk_gray);
    line-height: 3rem;
}

.flex_me{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.my_sections:nth-child(even){
    background-color: #fbfbfb;
}
.columns_image_container{
    align-items: center;
}
.my_cartes{
    position: relative;
    padding: 2rem;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 80%;
    align-self: center;
}
.services_cartes{
    position: relative;
    min-height: 20rem;
    padding: 5rem 2rem;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px lightgray;
    background-color: var(--sk_white);
}
.flags_container{
    position: absolute;
    height: 4rem;
    width: 4rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.colored_flages{
    height: 4rem;
    width: 100%;
    transform: translateY(-.1rem);
}
.flag1
{
    background-color: var(--sk_gray);
}
.flag2
{
    background-color: var(--sk_yellow);
    height: 5rem;
}
.mes_competences{
    position: relative;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    /* border: 1px solid darkgray; */
    gap: 2rem;
    padding: 5rem 0;
}
.competence_carte{
    position: relative;
    box-shadow: 0px 0px .3rem lightgray;
    text-align: center;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1.5fr .4fr;
}
.competence_carte_image_cont{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.competence_carte_image_cont img{
    width: 90%;
}
.portfolio_container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.portfolio_project{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: var(--sk_white);
    transition: all .2s ease-in-out;
}
.portfolio_project:hover{
    transform: translateY(-1rem);
    box-shadow: .3rem .3rem .5rem lightgray;
}
.project_image_container{
    position: relative;
}
.project_name_and_stack h3{
    text-align: center;
    width: 100%;
    color: var(--sk_gray);
}
.project_name_and_stack a{
    text-decoration: none;
    color: royalblue;
}
.project_name_and_stack p{
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid lightgray;
    margin: .2rem;
}
.project_name_and_stack{
    align-items: center;
    padding: 1rem;
}
.project_name_and_stack p:first-child{
   display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid lightgray; 
}
.project_image_container img{
    width: 100%;
}
.iu_ux_design_projects{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
}
.ui_ux_project{
    position: relative;
    height: 100%;
    width: 100%;
}
.ui_ux_project img{
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all .2s ease;
}
.ui_ux_project img:hover{
    transform: translateY(-1rem);
    box-shadow: .5rem .5rem 1rem lightgray;
}
@media screen and (max-width:850px){
    nav{
        grid-template-columns: 1fr;
        font-size: 1.6rem;
        padding: 0rem;
    }
    .humberger_menu{
        display: flex;
    }
    .link_container ul{
        flex-direction: column;
        background-color: #fbfbfb;
        width: 100%;
        gap: 0;
    }
    .link_container ul{
        position: absolute;
        display: none;
        height: auto;
        width: 30rem;
        background-color: #fbfbfb;
        z-index: 1;
        width: 100%;
    }
    
    .link_container ul.active{
        display: flex;
    }
    .brand_container{
        padding: 0 5rem;
    }
    .link_container ul li, .link_container ul li a  {
        width: 100%;
        border-radius: 0;
        text-shadow: 0px 0px .1rem lightgray;
    }
    .header_main_text{
        padding-left: 1rem;
    }
    .my_sections{
        padding: 2rem 5rem;
    }
    .column_image_container{
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    .double_columns{
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
    }
    
    .columns{
        padding: 0;
        font-size: 1.6rem;
    }
   
    .columns_image_container{
        height: 100%;
        width: 100%;
    }
    .columns_image_container img{
        height: 100%;
        width: 90%;
    }
    .my_cartes{
        width: 100%;
    }
    .services_cartes{
        font-size: 2rem;
    }
    header{
        max-height: 60vh;
    }
    .portfolio_container{
        grid-template-columns: repeat(2,1fr);
    }
    .mes_competences{
        grid-template-columns: repeat(4,1fr);
    }
    .iu_ux_design_projects{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:450px){
     .buttons{
        padding: 1.5rem 2rem;  
    }
    .header_main_text h1{
        font-size: 5rem;
    }
    .brand_container{
        padding: 0 3rem;
    }
    .my_sections{
        padding: 3rem;
    }
    .double_columns{
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }
    .columns_image_container img{
        width: 100%;
    }
    .my_cartes{
        grid-template-columns: 1fr;
    }
    .services_cartes{
        background-color: var(--sk_white);
    }
    .portfolio_container{
        grid-template-columns: 1fr;
    }
    .mes_competences{
        grid-template-columns: repeat(3,1fr);
    }
    .iu_ux_design_projects{
        grid-template-columns: 1fr;
    }
}