body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
}

.titre {
    text-align: center;
    font-size: 2em;
    line-height: 10px;
    color: #333;
    display: block;
}

#darken {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#glass {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 70px;
    width: 100%;
    background-color: #444;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
    float: left;
}

ul li a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px;
    animation: animate .1s ease-in-out .2s;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.containers {
    height: 100%;
    width: 100%;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    background-image: url(../images/img2.JPG);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#apropos {
    position: relative;
    line-height: 20px;
    min-height: auto;
    max-height: auto;
}

#travaux {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: none;
}

#contact {
    min-height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(202, 202, 202);
    flex-direction: column;
    align-items: center;
}

#skills {
    text-align: center;
    text-align: center;
}

#contact ul li {
    float: left;
    list-style: none;
    margin: 20px;
}

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills h2 {
    padding: 10px 0;
    color: #333;
}

footer {
    position: relative;
    min-height: auto;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

footer #firstSection ul li {
    float: left;
    list-style: none;
}

#message {
    padding: 0 100px;
}

details {
    margin: 10px;
}

.skill-logos {
    height: 50px;
    width: 50px;
}

#skills ul li {
    list-style: none;
    float: left;
    margin: 10px;
}

#hireMe {
    padding: 12px 20px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #fff;
    animation: hireme 3s ease-in-out infinite;
}

@keyframes hireme {
    0% {
        padding: 12px 20px;
    }
    50% {
        padding: 15px 25px;
    }
    100% {
        padding: 12px 20px;
    }
}

#hireMe:hover {
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, .5);
    transition: .2s;
}

#home {
    text-align: center;
}

#home h2 {
    color: aliceblue;
    font-size: 2em;
}

@media screen and (max-width:870px) {
    #home {
        text-align: center;
    }
    nav ul li {
        margin: 0;
    }
    #message {
        padding: 20px;
    }
    nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: rgb(0, 0, 0);
        animation: animate .1s ease-in-out .2s;
        transition-duration: 1s;
    }
    #home h2 {
        color: aliceblue;
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #apropos {
        position: relative;
    }
    #my-projects {
        position: relative;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .built-project {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #instagram_site {
        background-image: url(../images/instagram.jpg);
    }
}

@media screen and (max-width:550px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width:300px) {
    header nav ul li {
        margin-right: 0;
        font-size: .7em;
    }
    .titre {
        font-size: 1.2em;
    }
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}